<!DOCTYPE html>
<html lang="en">
<head>

    <title>Lanka Radar Automated News Aggregator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>


<div class="container">

    <h1 align="center">Lanka Radar</h1>
    <h4 align="center">Automated News Aggregator</h4>

    <div class="panel-group">


        <div data-role="page" id="pageone">
            <div data-role="header">
                <h1>Lanka Radar</h1>
                <h4 align="center">Automated News Aggregator</h4>
            </div>

            <div data-role="main" class="ui-content" id="parent">

                {% for item in itemlist %}


                <div data-role="collapsible" data-parent="parent">
                    <h1>{{ item[0] }}</h1>
                    <p>{{ item[2] }}</p>
                    <ul>
                        {% for url in item[1] %}
                        <li><a href={{ url[0] }}>{{ url[1] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>


</body>
</html>